body{
    font-size: small;
    font-family:         Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}
h1, h2 {
        color: #007e7e;
}
h1 {
    font-size: 150%;
    }
h2 {
    font-size: 130%;
    }
   /* .guarantee{
        line-height: 1.9em;
        font-style: italic;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #444444;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        background-image: url(images/blink.jpg);
        background-color: #a7cece;
        padding: 25px;
        padding-left: 50px;
        margin: 30px;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-position: top left;
        border-style: dashed;
        border-color: white;
    }*/
    body {
        font-size: 12pt;
        font-family: Times, "Times New Roman", serif;
        line-height: 1.4em;
        margin: 10px 40px 10px 40px;
        width: 700px;
      }
      
      #guarantee {
        padding: 25px 25px 25px 25px;
        border: thin solid black;
        margin-right: 240px;
        margin-left: 30px;
        line-height: 1.5em;
        font-style: italic;
        font-family: Georgia, "Times New Roman", Times, serif;
        color: #222222;
      }
      
      #drinks {
        font-family: Verdana, Helvetica, Arial, sans-serif; 
        width: 200px;
        background-color: #ffffff;
        background: url("images/cocktails.jpg") repeat-x top center;
        padding: 0px 20px 20px 20px;
        margin-left: 25px;
        color: #000000;
        border: thin double #007e7e;
        text-align: center; 
        font-size: 80%;
      }
      
      #drinks a:link { color: #007e7e;}
      #drinks a:visited { color: #333333;}
      #drinks a:hover { background: #f88396; color: #0d5353;}
      
      #drinks h2 {
        color: #000000;
      }
      
      #drinks h3 {
        color: #d12c47;
      }
      
      #drinks img {
        padding-top: 20px;
      }
          
      #drinks p {
        line-height: 1em;
      }
      
      #footer {
        font-size: 50%;
        text-align: center;
        line-height: normal;
        margin-top: 30px;
      }
      
      .artist {
        font-weight: bold;
      }
      
      
      body p a:link { color: #007e7e; }
      body p a:visited { color: #333333; }
      
      